.container{
  width: 300px;
  text-align: center;
  border: 2px solid #bfd7fc;
  border-radius: 25px 25px 0px 0px;
  border-style: ridge;
  background-color: #f2fafc;
  margin: 20px;
}

button{
  padding: 6px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

#numberInput{
  //border: 3px solid red;
  min-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

#messageDiv{
  font-size: 12px;
  //border: 2px solid blue;
  min-height: 20px;
}

#inputDiv{
  border: 2px solid #bfd7fc;
  border-radius: 25px;
  text-align: right;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #ccf2fc;
}
